.my-portfolio {
    height: 850px;
    padding: 20px 170px;
      
}
 
.header  {
    text-align: center;
    padding-top: 50px;
}

.header h1 {
    padding-bottom: 30px;
}
.header p{
    padding-bottom: 60px;
    color: #9CA3AF;
}

.portfolio-grid {
    display: flex;
    gap: 30px;
    justify-items: start;   
}

.portfolio-grid img{
    border-radius: 20px;
    
}

.portfolio-grid img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}





@media (max-width: 768px) {
    .my-portfolio{
        height: 100%;
    }
    .portfolio-grid {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .portfolio-grid-two{
        display: flex;
        flex-direction: column;

    }
}


