.about-section{
    display: flex;
    height: 600px;
    align-items: center;
    padding: 20px 170px;
    justify-content: space-between;
}

.about-right{
    display: flex;
    align-items: left;
    flex-direction: column;
    
}

.about-right h1 {
    font-size: 42px;
    font-weight: bold;
    line-height: 64px;
    padding-bottom: 35px;

}

.about-right p {
    color: #6B7280;
    word-spacing: 1.5px;
    line-height: 30px;
    padding-bottom: 30px;
}

.about-contact {
    height: 49px;
    width: 124px;
    background-color: #EAB308;
    text-align: center;
    line-height: 49px;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
}
.about-contact:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.about-image {
    height: 427px;
    width: 427px;
    border: 10px solid #EAB308;
    border-radius: 20px;
    position: relative;

}

.hero_image_two {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom:20px;
    left: 20px;
}

@media (max-width: 768px){
    .about-section{
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .hero_image_two {
        width: 100%;
        
        
    }
}
