.my-contact {
    padding: 20px 170px;
    background-color: #111827;
    
}

.contact-header {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 100px;
    
}

.contact-header h1 {
    padding-bottom: 20px;
}

.contact-header p {
    color: #9CA3AF;
    font-size: 16px;
    font-weight: 300;
}

.address-book {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contact-details {
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 20px;
    
    
}


::placeholder {
    color: #F3F4F6;
}

#my-name {
    width: 240px;
    height: 30px;
    background-color: #1F2937;
    border: #1F2937;
    padding: 10px 10px;
    font-size: 16px;
    color: #F3F4F6;
}

#my-email {
    width: 240px;
    height: 30px;
    background-color: #1F2937;
    border: #1F2937;
    padding: 10px 10px;
    font-size: 16px;
    color: #F3F4F6; 
}



#my-message {
    width: 480px;
    height: 166px;
    background-color: #1F2937;
    border: #1F2937;
    padding: 20px 10px;
    font-size: 20px;
    color: #F3F4F6;
}

.submit {
    width: 100px;
    height: 45px;
    background-color: #EAB308;
    border: #EAB308;
    border-radius: 3px;
    color: #000000;
    font-size: 18px;
    font-weight: 550;
    cursor: pointer;
}
.submit:hover{
    transform: scale(1.1);
    transition: 0.5s;
}


@media (min-width: 320px) and (max-width: 550px) {

    .my-contact {
        padding: 20px 20px;
        height: 100%;
        display: flex;
        flex-direction: column;

    }

    .contact-header h1{
        text-align: center;
    
    }
    .contact-header p {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    }

   .contact-details {
    padding-right: 20px;
   }

    #my-message {
        width: 100%;
        height: auto;
    
    }
}





