

.page-logo:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.navbar {
  display: flex;

  justify-content: space-between;
  padding: 20px 170px;
  cursor: pointer;
  background-color: #020617;
}

.nav-menu {
  display: flex;

  align-items: start;
  list-style: none;
  gap: 60px;
  font-size: 20px;
  color: #9ca3af;
}

.nav-menu li:hover {
  color: #ffffff;
  transform: scale(1.1);
  transition: 0.5s;
}

.mobile_menu_close {
  display: none;
}
.mobile_menu_open {
  display: none;
}

@media (min-width: 767px) and (max-width: 991px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    cursor: pointer;
    background-color: #020617;
  }

  .page-logo {
    margin-right: 80px;
    
  }
  .mobile_menu_open {
    display: block;
    position: fixed;
    width: 30px;
    top: 20px;
    right: 30px;
  }
  .mobile_menu_close {
    display: block;
    position: relative;
    top: 20px;
    width: 40px;
    left: 150px;
    padding-bottom: 20px;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #020617;
    width: 200px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }

  .nav-menu li {
    font-size: 20px;
    padding-left: 35px;
    flex-direction: row;
    gap: 20px;
  }
}

@media (min-width: 471px) and (max-width: 767px) {

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    cursor: pointer;
    background-color: #020617;
  }

  .page-logo {
    margin-right: 80px;
    
  }
  .mobile_menu_open {
    display: block;
    position: fixed;
    width: 30px;
    top: 20px;
    right: 30px;
  }
  .mobile_menu_close {
    display: block;
    position: relative;
    top: 20px;
    width: 30px;
    left: 30px;
    padding-bottom: 20px;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #020617;
    width: 100px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }

  .nav-menu li {
    font-size: 15px;
    padding-left: 25px;
    flex-direction: row;
    gap: 20px;
  }
  
}

@media (min-width: 320px) and (max-width: 471px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    cursor: pointer;
    background-color: #020617;
  }

  .page-logo {
    margin-right: 80px;
    
  }
  .mobile_menu_open {
    display: block;
    position: fixed;
    width: 30px;
    top: 20px;
    right: 30px;
  }
  .mobile_menu_close {
    display: block;
    position: relative;
    top: 20px;
    width: 30px;
    left: 30px;
    padding-bottom: 20px;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #020617;
    width: 100px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }

  .nav-menu li {
    font-size: 15px;
    padding-left: 25px;
    flex-direction: row;
    gap: 20px;
  }
}
