
*{
    margin: 0;
    padding:0;
    
}

body {
    height: 100vh;
    background: #020617;
    color: white;
    font-family: "Lexend Deca", serif;
    overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



    
    
    