
*{
    margin: 0;
    padding:0;
    
}

body {
    height: 100vh;
    background: #020617;
    color: white;
    font-family: "Lexend Deca", serif;
    overflow-x: hidden;
    width: 100%;
}



    
    
    